name: Automatic Approve Cleanup
on:
  workflow_dispatch: 
#   schedule:
#     - cron: "*/5 * * * *"
jobs:
  automatic-approve:
    name: Automatic Approve
    runs-on: ubuntu-latest
    steps:
      - name: Automatic Approve
        uses: mheap/automatic-approve-action@v1
        with:
          token: ${{ secrets.PAT }}
          workflows: "cleanup.yml,sync-import-data.yml"
