name: '[Util] Redis Operations Manager'

on:
  schedule:
   - cron: '0 */6 * * *' 
  workflow_dispatch:
    inputs:
      operation:
        description: 'Operation to perform'
        required: true
        type: choice
        options:
          - view-keys
          - delete-keys
        default: view-keys
      environment:
        description: 'Environment to operate on'
        required: true
        type: choice
        options:
          - stage
          - prod
        default: stage
      key:
        description: 'Specific Redis key to delete (leave empty to delete all keys - USE WITH CAUTION!)'
        required: false
        type: string
        default: 'REMOTE_CONFIG_PARAMS'



jobs:
  redis-operations:
    name: 'Execute Redis Operation'
    uses: nabarun-ngo/ngo-nabarun-templates/.github/workflows/Redis-Ops.yml@main
    with:
      operation: ${{ inputs.operation }}
      environment: ${{ inputs.environment }}
      key: ${{ inputs.key }}
    secrets:
      redis_uri: ${{ secrets.REDIS_URI }}

 
