name: 'Security Scan - DAST'
on: 
 workflow_dispatch:
  inputs:
    app_url:
       description: 'Application URL'
       required: true
       type: string
    token:
       description: 'Application Token'
       required: false
       type: string
    

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main 
          
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ inputs.app_url }}
          cmd_options: '-a'
        env:
          ZAP_AUTH_HEADER_VALUE: ${{inputs.token}}
